.search-form{
  width:50% !important;
}
.box-std{
  border: 1px solid;
}

.splashpage .box-std{
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.homepage .box-std h4{
  height:40px;
}

.homepage .box-std.medium h3, .homepage .box-std.medium h4{
  margin-bottom: 30px;
}

.homepage .box-std .update{
  background-color: #c9c9c9;
  height: 80px;
}

.bottom-margin{
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.myquote {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

.outcome-edit-milestones select{
  height:30px;
  width: 150px;
}

.no-padding{
  padding-left: 0px !important;
}

@media (min-width: 992px) {
  .box-std.large{
    height: 520px;
  }
  .box-std.medium{
    height: 340px;
  }
  .box-std.small{
    height: 160px;
  }
  .splashpage .box-std.large h3, .splashpage .box-std.medium h3{
    height: 100px;
  } 
  .splashpage .box-std.small h3{
    height: 40px;
  } 
  .splashpage .box-std h4{
    height: 80px;
  }
  .splashpage button{
  margin-bottom: 30px;
  }
}


